html, body { 
    height: 100%; 
    margin: 0; 
    padding: 0; 
}

#map {
    width: 100%;
    /* 
     * 100% of view height (100vh), minus:
     *  -  Title bar: 56 pixels
     *  -  Space at bottom: 128 pixels (increase to make more space)
     */
    height: calc(100vh - 184px);
}

button {
  margin: auto;
  display: block;
  border-radius: 8px;
  padding: 4px 8px;
}

body {
  text-align: auto;
  }
